{{define "lobby"}}
{{ template "header" }}

<h3 id="LobbyTitle">?</h3>
<table id=tableLobby>
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Kick</th>
		</tr>
	</thead>
	<tbody>
		LOADING
	</tbody>
</table>

<form action="/api/lobby" method="PATCH">
	<button type="submit">Join!</button>
</form>

<script>



	let currentURL = new URL(window.location.href)
	console.log(currentURL.pathname)
	document.querySelector("form").action = `/api/${currentURL.pathname}`

	fetch("/api/" + currentURL.pathname)
		.then(res => {
			if (!res.ok) {
				throw Error('Error fetching users data');
			}
			return res.json();
		})
		.then(lobby => {
			if (!lobby) {
				console.error("NO GAME!")
				return
			}
			//
			//<tr>
			//	<td>1</td>
			//	<td>Alice</td>
			//	<td>alice@example.com</td>
			//</tr>

			console.log(lobby)
			LobbyTitle.innerText = lobby.Name
			let tbody = document.querySelector("tbody")
			for (let idx in lobby.Players) {
				let idElement = document.createElement("td");
				idElement.innerText = idx
				let nameElement = document.createElement("td");
				nameElement.innerText = lobby.Players[idx]
				let kickElement = document.createElement("td");
				kickElement.innerText = "KICK"
				let tr = document.createElement("tr")

				tr.append(idElement, nameElement, kickElement)
				tbody.append(tr)
			}



		})
		.catch(err => {
			console.error(err)
		});
</script>


{{ template "footer" }}
{{end}}
